<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head contents remain the same -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <!-- Link to your static CSS file -->
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
</head>

<body>
    <div class="main-container">
        <header>
            <!-- Header contents remain the same -->
            <img src="{% static 'classorganizerlogo.png' %}" alt="Logo" class="logo">
            <h1 class="siteTitle">Class Organizer</h1>
        </header>
        <nav class="navbar">
            <!-- Navbar contents remain the same -->
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'teacher' %}">Teachers</a></li>
                <li class="nav-item"><a href="{% url 'student' %}">Students</a></li>
                <li class="nav-item"><a href="{% url 'course' %}">Courses</a></li>
                <li class="nav-item"><a href="{% url 'schedule' %}">Generate Schedule</a></li>
            </ul>
        </nav>
        <div class="form-container">
            <h2>Course Information Form</h2>
            <form action="{% url 'course' %}" method="post">
                {% csrf_token %}
               <div class="form-group">
                    <label for="name">Course Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter course name" required>
               </div>
               <div class="form-group">
                    <label for="code">Course Code:</label>
                    <input type="text" id="code" name="code" placeholder="Enter course code" required>
                </div>
                <div class="form-group">
                    <label for="description">Course Description:</label>
                    <input type="text" id="description" name="description" placeholder="Enter course description" required>
                </div>
                <div class="form-group">
                    <label for="teacher_id">Teacher:</label>
                    <select name="teacher_id" id="teacher_id">
                        {% for teacher in teachers %}
                        <option value="{{ teacher.teacher_id }}">{{ teacher.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="course_submit_btn" type="submit">Submit</button>
                <div>
                    <button class="go_back_btn" onclick="history.back()">Go Back</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>