<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
</head>
<body>
    <div class="main-container">
        <header>
            <img src="{% static 'classorganizerlogo.png' %}" alt="Logo" class="logo">
            <h1 class="siteTitle">Class Organizer</h1>
        </header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'teacher' %}">Teachers</a></li>
                <li class="nav-item"><a href="{% url 'student' %}">Students</a></li>
                <li class="nav-item"><a href="{% url 'course' %}">Courses</a></li>
                <li class="nav-item"><a href="{% url 'schedule' %}">Generate Schedule</a></li>
            </ul>
        </nav>
        <h1>Courses List</h1>
        <button class="add_course_btn" type="submit" onclick="window.location.href='addcourse/'">➕ Add Course</button>   
        <div class="students-container">
            {% for course in data %}
            <div class="student-box">
                <p>Name: {{ course.name }}</p>
                <p>Code: {{ course.code }}</p>
                <p>Description: {{ course.description }}</p>
                <p>Assigned teacher: {{ course.teacher.name }}</p>
                <div class="button-container">
                    <button class="edit_course_btn" type="button" onclick="window.location.href='{% url "editcourse" course.course_id %}'">✎ Edit</button>
                    <button class="delete_course_btn" type="button" onclick="window.location.href='{% url "deletecourse" course.course_id %}'">🗑️ Delete</button>
                </div>
            </div>
            {% endfor %}
        </div>
</body>
</html>