<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
</head>
<body>
    <div class="main-container">
        <header>
            <img src="{% static 'classorganizerlogo.png' %}" alt="Logo" class="logo">
            <h1 class="siteTitle">Class Organizer</h1>
        </header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'teacher' %}">Teachers</a></li>
                <li class="nav-item"><a href="{% url 'student' %}">Students</a></li>
                <li class="nav-item"><a href="{% url 'course' %}">Courses</a></li>
                <li class="nav-item"><a href="{% url 'schedule' %}">Generate Schedule</a></li>
            </ul>
        </nav>
        <div class="form-container">
            <h2>Student Information Form</h2>
            <form action="{% url 'editstudent' %}" method="post">
                {% csrf_token %} <!-- Required for Django forms to prevent CSRF attacks -->
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" maxlength="50" required value="{{ student.name }}">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" maxlength="50" required value="{{ student.last_name }}">
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" maxlength="50" required value="{{ student.phone }}">
                </div>
                <div class="form-group">
                    <label for="english_level">English Level:</label>
                    <input type="text" id="english_level" name="english_level" required value="{{ student.english_level }}">
                </div>
                <div class="form-group">
                    <label for="phone">Monthly Pay:</label>
                    <input type="number" id="monthly_pay" name="monthly_pay" maxlength="50" required value="{{ student.monthly_pay }}">
                </div>
                <div class="form-group">
                    <label for="name">Obligation Name:</label>
                    <input type="text" id="name" name="obligation_name" maxlength="50" value="{{ student.obligation_name }}">
                </div>
                <div class="form-group">
                    <label for="datetime">Obligation Date and Time:</label>
                    <input type="datetime-local" id="datetime" name="obligation_datetime" value="{{ student.obligation_datetime|date:'Y-m-d\TH:i' }}">
                </div>
                <input type="hidden" name="teacher_id" value="{{ student.student_id }}" />
                <button class="student_submit_btn" type="submit">✔️ Update</button>
                <div>
                    <button class="go_back_btn" onclick="history.back()">⬅️ Go Back</button>  
                </div>
            </form>
        </div>        
    </div>
</body>
</html>