<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head contents remain the same -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <!-- Link to your static CSS file -->
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
</head>
<body>
    <div class="main-container">
        <header>
            <!-- Header contents remain the same -->
            <img src="{% static 'classorganizerlogo.png' %}" alt="Logo" class="logo">
            <h1 class="siteTitle">Class Organizer</h1>
        </header>
        <nav class="navbar">
            <!-- Navbar contents remain the same -->
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'teacher' %}">Teachers</a></li>
                <li class="nav-item"><a href="{% url 'student' %}">Students</a></li>
                <li class="nav-item"><a href="{% url 'course' %}">Courses</a></li>
                <li class="nav-item"><a href="{% url 'schedule' %}">Generate Schedule</a></li>
            </ul>
        </nav>
        <div class="form-container">
            <!-- Form contents remain the same -->
            <h2>Students</h2>
            {% for student in data %}
            Name: {{ student.name }}
            Last Name: {{ student.last_name }}
            {% endfor %}
        </div>  
              
    </div>
</body>
</html>