<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="main-container">
        <header>
            <img src="{% static 'classorganizerlogo.png' %}" alt="Logo" class="logo">
            <h1 class="siteTitle">Class Organizer</h1>
        </header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'teacher' %}">Teachers</a></li>
                <li class="nav-item"><a href="{% url 'student' %}">Students</a></li>
                <li class="nav-item"><a href="{% url 'course' %}">Courses</a></li>
                <li class="nav-item"><a href="{% url 'schedule' %}">Generate Schedule</a></li>
            </ul>
        </nav>
        <h1>Students List</h1>
        <button class="add_students_btn" type="submit" onclick="window.location.href='addstudent/'">➕ Add Student</button>   
        <div class="students-container">
            {% for student in data %}
            <div class="student-box">
                <p>Name: {{ student.name }}</p>
                <p>Last Name: {{ student.last_name }}</p>
                <p>Phone: {{ student.phone }}</p>
                <p>English Level: {{ student.english_level }}</p>
                <p>Monthly Pay: {{ student.monthly_pay }} &euro;</p>
                <p>Obligation Name: {{ student.obligation_name }}</p>
                <p>Obligation Date: {{ student.obligation_datetime|date:"d M Y H:i" }}</p>
                <div class="button-container">
                    <button class="edit_student_btn" type="button" onclick="window.location.href='{% url "editstudent" student.student_id %}'">✎ Edit</button>
                    <button class="delete_student_btn" type="button" onclick="window.location.href='{% url "deletestudent" student.student_id %}'">🗑️ Delete</button>
                </div>
            </div>
                
            {% endfor %}
            
        </div>
    </div>
</body>
</html>