<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student Form</title>
        <!-- Link to your static CSS file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
<body>
    <header>
        <img src="{% static 'classorganizerlogo.png' %}" alt="Logo" class="logo">
        <h1 class="siteTitle">Class Organizer</h1>
    </header>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="nav-item"><a href="{% url 'teacher' %}">Teachers</a></li>
            <li class="nav-item"><a href="{% url 'student' %}">Students</a></li>
            <li class="nav-item"><a href="{% url 'course' %}">Courses</a></li>
            <li class="nav-item"><a href="{% url 'schedule' %}">Generate Schedule</a></li>
        </ul>
    </nav>
    <div class="form-container">
        <h2>Teacher Information Form</h2>
        <form action="/submit_student_info" method="post">
            {% csrf_token %} <!-- Required for Django forms to prevent CSRF attacks -->
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="working_days">Working days:</label>
                <div class="select-wrapper">
                    <select id="working_days" name="working_days" multiple required>
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="thursday">Thursday</option>
                        <option value="friday">Friday</option>
                    </select>
                    <div class="select-arrow"></div>
                </div>
            </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </body>
            </html>
