<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
</head>
<body>
    <div class="main-container">
        <header>
            <img src="{% static 'classorganizerlogo.png' %}" alt="Logo" class="logo">
            <h1 class="siteTitle">Class Organizer</h1>
        </header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'teacher' %}">Teachers</a></li>
                <li class="nav-item"><a href="{% url 'student' %}">Students</a></li>
                <li class="nav-item"><a href="{% url 'course' %}">Courses</a></li>
                <li class="nav-item"><a href="{% url 'schedule' %}">Generate Schedule</a></li>
            </ul>
        </nav>
        <h1>Teachers List</h1>
        <button class="add_teachers_btn" type="submit" onclick="window.location.href='addteacher/'">Add Teacher</button>   
        <div class="students-container">
            {% for teacher in data %}
            <div class="student-box">
                <p>Name: {{ teacher.name }}</p>
                <p>Last Name: {{ teacher.last_name }}</p>
                <p>Phone: {{ teacher.phone }}</p>
                <p>Working Days: {{ teacher.working_days }}</p>
                <div class="button-container">
                    <button class="edit_teacher_btn" type="button" onclick="window.location.href='{% url "editteacher" teacher.teacher_id %}'">✎ Edit</button>
                    <button class="delete_teacher_btn" type="button" onclick="window.location.href='{% url "deleteteacher" teacher.teacher_id %}'">🗑️ Delete</button>
                </div>
            </div>
            {% endfor %}
        </div>
</body>
</html>