<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style.css' %} ">
</head>
<body>
    <div class="main-container">
        <header>
            <img src="{% static 'classorganizerlogo.png' %}" alt="Logo" class="logo">
            <h1 class="siteTitle">Class Organizer</h1>
        </header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'teacher' %}">Teachers</a></li>
                <li class="nav-item"><a href="{% url 'student' %}">Students</a></li>
                <li class="nav-item"><a href="{% url 'course' %}">Courses</a></li>
                <li class="nav-item"><a href="{% url 'schedule' %}">Generate Schedule</a></li>
            </ul>
        </nav>
        <h1>Teachers List</h1>
        <button class="add_teachers_btn" type="submit" onclick="window.location.href='addteacher/'">➕ Add Teacher</button>   
        <div class="students-container">
            {% for teacher in data %}
                    <div class="student-box">
                        {% csrf_token %}
                        <p>Name: {{ teacher.name }}</p>
                        <p>Last Name: {{ teacher.last_name }}</p>
                        <p>Phone: {{ teacher.phone }}</p>
                        <p>Working Days: {{ teacher.working_days }}</p>
                        <p>Working hours: {{ teacher.working_hours }}</p>
                        <div class="button-container">

                          <form action="{% url 'editteacher' %}" method="GET">
                            <input type="hidden" name="teacher_id" value="{{ teacher.teacher_id }}" />
                            <button class="edit_teacher_btn" name="edit_btn" value="True" type="submit">✎ Edit</button>
                          </form>
                          <form action="{% url 'deleteteacher' %}" method="GET">
                            <input type="hidden" name="teacher_id" value="{{ teacher.teacher_id }}" />
                            <button class="delete_teacher_btn"  name="delete_btn" value="True"  type="submit" >🗑️ Delete</button>
                          </form>

                        </div>
                    </div>

            {% endfor %}
        </div>
    </div>
</body>
</html>