body {
    background-color: gray;
    justify-content: center;
    align-items: center;
}


.siteTitle {
    color: red;
    font-size: 2em;
}


.navbar {
    background-color: #333;
    overflow: auto;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #111;
}


.logo {
    height: 50px;
    margin-right: 10px;
    float: left;
}

.form-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    
}

form {
    display: flex;
    flex-direction: column;    
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding does not affect overall width */
}

.form-group input:focus {
    outline: none;
    border-color: #7abaff;
    box-shadow: 0 0 0 2px rgba(58, 123, 253, 0.1);
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Add more styles as needed */